@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&display=swap');


.main{
  background-image: url(../image/hackers.jpg);
  margin-top: -20px;
}
.titel-container{
  background-image: linear-gradient(to left top, #e6ef68, #fdc042, #ff8d42, #ff555a, #eb127a);
  padding: 10px;
}

h2,p{
  text-align: center;
  color: black;
}

.hacker{
  display:grid;
  grid-template-columns: 4fr 1fr;
}
.hacker-info{
  
  margin-left: 15px;
}